<form {{action "register" user on="submit"}}>
  <div class="form-group">
    <label for="email">Email</label>
    {{input value=user.email 
      placeholder="Email" 
      id="email" 
      class="form-control"}}
    <small>{{errors.error-email}}</small>
  </div>

  <div class="form-group">
    <label for="password">Password</label>
    {{input value=user.password 
      type="password" 
      placeholder="Password" 
      id="password" 
      class="form-control"}}
    <small>{{errors.error-password}}</small>
  </div>

  <div class="form-group">
    <label for="passwordConfirmation">Password Confirmation</label>
    {{input value=user.password_confirmation 
      type="password" 
      placeholder="Password Confirmation" 
      id="passwordConfirmation" 
      class="form-control"}}
    <small>{{errors.error-password_confirmation}}</small>
  </div>
  <button type="submit" 
          class="btn btn-default">
          Submit
  </button>
</form>
<br>

{{#if responseMessage}}
  <div class="alert alert-success">{{responseMessage}}</div>
{{/if}}